

<div class="row">
    <div class="column left-column"">
        <h1>Saved Positions</h1>
        <div id='job-search'>
            <h3><a href='show.html'></a></h3>
            <div>
                <input type='text' id='search-jobs' class='dash-field' placeholder='filter positions'>
                <%= render j'job_list' %>
            </div>
            <br>
            <ul id="jobList"></ul>
        </div>
    </div> <!-- close left-column -->


    <div class="column mid-column">
        <h1>Schedule</h1>
        <div>
            <input type='text' id='add-todo' class='dash-field' placeholder='add todo'>
        </div>
        <h3>-- filter by applied/not --</h3>
        <h3>-- click item for dropdown option to resched/check--</h3>
        <h3>Upcoming event</h3>
        <h3>Todo - followup</h3>
        <h3>Past due - sent resume to acme.co</h3>
    </div><!-- close column -->



    <div class="right-column-upper">
        <div id='quick-add'>
            <h1>Quick Add Job</h1>
        <div>
            <input type='text' id='quick-add-job' class='dash-field' placeholder='add job url'>
        </div>
        </div>
    </div> <!-- close right-column-upper -->




    <div class='right-column-lower'>
        <div id='activity'>
            <h1>Stats</h1>
            <h3>You have applied to 10 jobs this week</h3>
            <h3>45 saved positions</h3>
            <h3>10 new positions</h3>
            <h3>10 todos</h3>
        </div>
    </div>  <!-- close right-column-lower -->

</div>




<script>
    

let jobs = [
    {
        name: "acme",
        j_desc: "dev",
        c_desc: "medium size"
    },
    {
        name: "acme2",
        j_desc: "dev2",
        c_desc: "medium size2"
    },
        {
        name: "acme3",
        j_desc: "dev3",
        c_desc: "medium size3"
    }
]

let filters = {
    search_term: ''
}









</script>













