<h1 class="product_name"><%= @product.name %></h1>
<a href="#" class="js-next" data-id="<%= @product.id %>">Next Product</a>
<h4>Price: $<span class="product_price"><%= @product.price %></span></h4>
<p class="product_description"><%= @product.description %></p>
