<div>
  <h1 class="name"><%= @product.name %></h1>
  <div class="description"><%= @product.description %></div>
  <a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/products/" + nextId + "/data", function(data) {
      $(".name").text(data["name"]);
      $(".description").text(data["description"]);
      $(".js-next").attr("data-id", data["id"]);
    });
    e.preventDefault();
  });
});
</script>
