<h1 id="product-name"><%= @product.name %></h1>

<div class="product-description">
  <%= @product.description %>
</div>

<a href="#" class="next-product" data-id="<%= @product.id %>">Next Product</a>

<script type="text/javascript">
  $(function() {
    $('.next-product').on('click', function() {
      var nextId = parseInt($(".next-product").attr("data-id")) + 1;
      $.getJSON('/products/' + nextId + '/data', function (data) {
        $('#product-name').text(data["name"])
        $('.product-description').text(data["description"])
        $(".next-product").attr("data-id", data["id"]);
      })
    })
  })
</script>
