<div class="productName"><h2>Product: <%= @product.name %></h2></div>
<div class="productDesc"><h4>Product Description: <i><%= @product.description %></i></h4></div>
<div class="productPrice"><h4>Price: $<%= @product.price %></h4></div>
<div class="productInventory">
  <% if @product.inventory > 0 %>
    <h4><font color="green">Available!!</font></h4>
  <% else %>
    <h4><font color="red">Sold Out!!</font></h4>
  <% end %>
</div>

<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function () {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.getJSON("/products/" + nextId + "/data", function(data) {
        $.get("/products/" + nextId + "/inventory", function(inventory) {
          var inventoryText = '<h4><font color="green">Available</font></h4>';
          if(inventory === "false"){
            inventoryText = '<h4><font color="red">Sold Out</font></h4>';
          }
        $(".productName").html("<h2>Product: " + data["name"] + "</h2>");
        $(".productDesc").html("<h4>Product Description: <i>" + data["description"] + "</i></h4>");
        $(".productPrice").html("<h4>Price: $" + data["price"] + "</h4>");
        $(".productInventory").html(inventoryText);
        $(".js-next").attr("data-id", data["id"]);
        });
      });
      event.preventDefault();
    });
  });
</script>
