<h1><%= @product.name %></h1>
<h2><%= @product.price %></h2>
<a class="js-next-page" href="#" data-id="<%= @product.id %>">Next Page</a>

<script type="text/javascript" charset="utf-8">
$(function() {
    
});
</script>
